.DS_Store
./src/.DS_Store
*.nc
met_data/
met_data_old/
periods-energetics/intense/PCA/Pc2_3p.csv
periods-energetics/intense/PCA/Pc1_3p.csv
periods-energetics/intense/PCA/Pc2_3p_dn.csv
periods-energetics/intense/PCA/Pc1_3p_dn.csv
LEC_results/19820684_ERA5_track-15x15/Figures/LEC/LEC_Decay.png
LEC_results/19820684_ERA5_track-15x15/Figures/LEC/LEC_Mature.png
periods-energetics/intense/PCA/ERA5_0.csv
periods-energetics/intense/PCA/ERA5_1.csv
periods-energetics/intense/PCA/ERA5_2.csv
periods-energetics/intense/PCA/ERA5_3.csv
periods-energetics/intense/PCA/ERA5_4.csv
periods-energetics/intense/PCA/ERA5_5.csv
periods-energetics/intense/PCA/ERA5_6.csv
periods-energetics/intense/PCA/ERA5_7.csv
periods-energetics/intense/PCA/ERA5_8.csv
periods-energetics/intense/PCA/ERA5_9.csv
src/pca_uni2.py
src/pca_cyclone_phase.py
src/pca_cyc_testes.py
src/LPS-PCA.py
src/EOF_cyc.py
figures/LPS/LPS-PCA_ERA5_0_periods-energetics.png
figures/LPS/LPS-PCA_ERA5_1_periods-energetics.png
figures/LPS/LPS-PCA_ERA5_2_periods-energetics.png
figures/LPS/LPS-PCA_ERA5_3_periods-energetics.png
figures/LPS/LPS-PCA_ERA5_4_periods-energetics.png
figures/LPS/LPS-PCA_ERA5_5_periods-energetics.png
figures/LPS/LPS-PCA_ERA5_6_periods-energetics.png
figures/LPS/LPS-PCA_ERA5_7_periods-energetics.png
figures/LPS/LPS-PCA_ERA5_8_periods-energetics.png
figures/LPS/LPS-PCA_ERA5_9_periods-energetics.png
src/pca_cyclone_phase.py
src/LPS-PCA.py
src/pca_mle.py
