.DS_Store
./src/.DS_Store
*.nc
met_data/
met_data_old/
periods-energetics/intense/PCA/Pc2_3p.csv
periods-energetics/intense/PCA/Pc1_3p.csv
periods-energetics/intense/PCA/Pc2_3p_dn.csv
periods-energetics/intense/PCA/Pc1_3p_dn.csv
*/__pycache__/
*/nohup.out
.vscode/launch.json
*/logfile-automate.txt
src*/GetERA5-pl_*.py
nohup.out
src_process-tracks/.vscode/launch.json
src_figures/.vscode/launch.json
src_determine-patterns/.vscode/launch.json
LEC_results-q0.99
LEC_results-0.99
LEC_results-0.99/*
src_process-tracks/logfile-automate*

# Debugging
src_figures/periods.png
src_figures/periods.csv
src_figures/periods_didatic.png
src_life-cycle/.vscode/launch.json
src_life-cycle/track-test-periods
src_life-cycle/periods_didatic.png
src_life-cycle/periods.csv

# All systems
figures/periods/BY_RG-all/*
figures/periods_didactic/BY_RG-all/*
src_life-cycle/determine_periods.py
figures/periods/BY_RG-all/*

src_life-cycle/periods.png
