.DS_Store
./src/.DS_Store
met_data/
met_data_old/
periods-energetics/intense/PCA/Pc2_3p.csv
periods-energetics/intense/PCA/Pc1_3p.csv
periods-energetics/intense/PCA/Pc2_3p_dn.csv
periods-energetics/intense/PCA/Pc1_3p_dn.csv
*/__pycache__/
*/nohup.out
.vscode/launch.json
*/logfile-automate.txt
src*/GetERA5-pl_*.py
nohup.out
src_process-tracks/.vscode/launch.json
src_figures/.vscode/launch.json
src_determine-patterns/.vscode/launch.json
LEC_results-q0.99
LEC_results-0.99
LEC_results-0.99/*
src_process-tracks/logfile-automate*

# Debugging
src_figures/periods.png
src_figures/periods.csv
src_figures/periods_didatic.png
src_life-cycle/.vscode/launch.json
src_life-cycle/track-test-periods
src_life-cycle/periods_didatic.png
src_life-cycle/periods.csv
src_life-cycle/periods.png
src_life-cycle/error_log.txt

# All systems
figures/periods/BY_RG-all
figures/periods/BY_RG-all/*
figures/periods_didactic/BY_RG-all/*
figures/periods/BY_RG-all/*.png
figures/periods/all
figures/periods/all/*
figures/periods_didactic/all/*
figures/periods/all/*.png
figures/periods/70W*/
figures/periods_didactic/70W*/
figures/periods/*48h*/
figures/periods_didactic/*48h*/

# Testing filters
figures/tests_filter/test_*
figures/tests_filter/tests*
figures/tests_filter/0.99*
